$cellColorUnc: grey;

html{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.covered{
    background: $cellColorUnc;
    color: $cellColorUnc;
    &:hover{
        cursor: pointer;

    }
}

.bomb{
    background: red;
}

table{
    table-layout: fixed;
    width: 500px;
    height: 250px;
}

td{
    display: table-cell;
    border: 1px solid black;

    // Prevents collapse of empty cells; all same width/height
    &:empty::after{
        content: "\00a0";
    }
}
